$grafite: #2f3035;

// grid
.container {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;

  @media (max-width: 1000px) {
    padding: 0 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}

// card
.card {
  display: flex;

  .box-image {
    align-items: center;
    background-color: #f9f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;

    img {
      max-width: 100%;
    }
  }

  .content {
    flex: 1;
    margin-left: 32px;

    .title {
      color: $grafite;
      font-family: "Playfair Display", serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 16px;
    }

    .text {
      color: rgba(47, 48, 53, 0.6);
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

// Prime
.prime {
  background-image: url(../img/fundo1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 563px;
  padding-top: 22px;

  @media (max-width: 556px) {
    height: auto;
    padding-bottom: 40px;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    p,
    a {
      color: #222;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
    }

    @media (max-width: 556px) {
      flex-direction: column;

      p {
        margin-top: 32px;
      }
    }
  }

  .introducao {
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      padding-bottom: 32px;
      text-align: center;
    }

    p {
      color: rgba(34, 34, 34, 0.75);
      font-family: "Source Sans Pro", sans-serif;
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 40px;
      text-align: center;
    }

    .btn {
      align-items: center;
      background: #f33d01;
      border-radius: 48px;
      color: #fff;
      display: table;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      font-weight: 700;
      height: 48px;
      justify-content: center;
      line-height: 20px;
      margin: 0 auto;
      padding: 14px 38px;
      text-decoration: none;
    }
  }
}

// SECUNDO
.secundo {
  padding: 100px 0;

  .image {
    display: block;
    margin: 0 auto 32px;
    width: 64px;
  }

  blockquote {
    h3 {
      color: #2f3035;
      font-family: "Playfair Display", serif;
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto;
      margin-bottom: 24px;
      max-width: 560px;
      text-align: center;
    }

    cite {
      color: #86899b;
      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
    }
  }
}

// third
.third {
  padding-bottom: 100px;

  h6 {
    color: #86899b;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
    text-transform: uppercase;
  }

  h2 {
    color: #2f3035;
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 32px;
  }

  .drink {
    color: rgba(34, 34, 34, 0.75);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 64px;
  }

  .card {
    &:first-of-type {
      margin-bottom: 40px;
    }
  }

  .full-image {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;

      .col {
        width: 100%;
      }
    }

    h6,
    h2,
    .drink {
      text-align: center;
    }

    .full-image {
      display: block;
      margin: 72px auto 0;
    }
  }
}

//four
.four {
  padding: 20px 20px 100px;

  .col {
    margin-top: 80px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
  padding: 40px;

  p {
    color: #86899b;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 20px;

    a {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
}
